
/* FADE ANIMATIONS */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}

/* SIDEBAR */
.sideBtn{
  position: absolute;
  top: 49.5%;
  width: 1.6%;
  border-radius: 0 .5rem .5rem 0;
  background-color:#ffd894;
  transition: 0.3s ease-in;
  height: 8%;
  margin-left: 45%;
  z-index: 1;
}

.sideBtn-closed{
  margin-left: 4%;
}

.sidebar {
  margin-top: 5.8vh;
  position: fixed;
  width: 45%;
  height: 94.2%;
  /* background: #ffb12b; */
  background: #ffd894;
  /* color: white; */
  transition: 0.3s ease-in;
  z-index: 1;
}

.sidebar-closed {
  width: 4%;
}

ul {
  list-style-type: none;
  padding: 0;
}

.sidebarList {
  display: flex;
  flex-direction: column;
}

.form{
  height: 23.5vh;
  border-bottom: .15rem solid #D0D0D0;
}

.formContainer{
  margin: 2rem 3rem;
}

.formTitle{
  color: rgb(75, 75, 75);
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.datePickerContainer{
  display: flex;
  justify-content: space-between;
}

.datePicker{
  width: 40%;
}

.rateContainer, .roomContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rateBlock{
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 2rem 0;
  color: rgb(75, 75, 75);
}

.roomBlock{
  width: 48%;
  margin: 0 0 1rem 0;
}

.temp{
  padding: 0 !important;
}